{
      "name": "",
      "slug": "",
      "easId": "",
      "reverseDns": "",
      "discoveryUrl": "",
      "greenhouseUrl": "",
      "libraryId": "1",
      "themeId": "1",
      "background": "#000000",
      "sentryProject": "",
      "sentryDsn": "",
      "ascAppId": "",
      "logLevel": "0"
}
